<header class="header">
  <div class="header-inner">
    <a href="index.html" class="logo">
      <span class="logo-icon">QF</span>
      <span class="logo-text">Quick Funding</span>
    </a>

    <nav class="nav-menu">
      <div class="nav-item has-dropdown">
        <button type="button" class="nav-link" aria-expanded="false" aria-haspopup="true">Business Loans</button>
        <ul class="dropdown">
          <li><a href="#">Working Capital</a></li>
          <li><a href="#">Asset Finance</a></li>
          <li><a href="#">Commercial Property</a></li>
          <li><a href="#">Equipment Finance</a></li>
        </ul>
      </div>
      <div class="nav-item has-dropdown">
        <button type="button" class="nav-link" aria-expanded="false" aria-haspopup="true">Industries</button>
        <ul class="dropdown">
          <li><a href="#">Construction</a></li>
          <li><a href="#">Healthcare</a></li>
          <li><a href="#">Retail</a></li>
          <li><a href="#">Manufacturing</a></li>
        </ul>
      </div>
      <div class="nav-item has-dropdown">
        <button type="button" class="nav-link" aria-expanded="false" aria-haspopup="true">Resources</button>
        <ul class="dropdown">
          <li><a href="#">Blog</a></li>
          <li><a href="#">Calculators</a></li>
          <li><a href="#">Guides</a></li>
          <li><a href="#">Case Studies</a></li>
        </ul>
      </div>
      <div class="nav-item has-dropdown">
        <button type="button" class="nav-link" aria-expanded="false" aria-haspopup="true">About Us</button>
        <ul class="dropdown">
          <li><a href="#">Our Story</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="nav-item has-dropdown">
        <button type="button" class="nav-link" aria-expanded="false" aria-haspopup="true">Enterprise</button>
        <ul class="dropdown">
          <li><a href="#">Solutions</a></li>
          <li><a href="#">Integration</a></li>
          <li><a href="#">Pricing</a></li>
        </ul>
      </div>
      <div class="nav-item has-dropdown">
        <button type="button" class="nav-link" aria-expanded="false" aria-haspopup="true">Partners</button>
        <ul class="dropdown">
          <li><a href="#">Referral Partners</a></li>
          <li><a href="#">Broker Program</a></li>
          <li><a href="#">Become a Partner</a></li>
        </ul>
      </div>
    </nav>

    <div class="header-actions">
      <a href="continue-application.html" class="btn btn-outline">Continue Application</a>
      <a href="login.html" class="btn btn-primary">Login</a>
    </div>
  </div>
</header>
